.footer
{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: right;
	font-family: Futura, Arial;
	font-style: italic;
	background-color: #FF7700;
	border-top: 2px solid #000000;
}
#cpy
{
	margin-right: 10px;
}
