.top
{
	margin: 0;
	padding: 0;
	position: relative;
	height: 80px;
	border-bottom: 3px solid #8700FF;
}
.top #text
{
	position: absolute;
	font-size: 180%;
	animation: strobe 10s infinite alternate;
	animation-name: strobe
	animation-duration: 20s;
	top: 15px;
	left: 10px;
}
@keyframes strobe
{
	0% { color: #FFFFFF; }
	100% { color: #000000; }
}
.top hr
{
	position: absolute;
	bottom: 10px;
	width: 600px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	color: #000000;
}
