.homepage
{
	position: relative;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: Futura, Arial;
}
.homepage #text
{
	text-align: center;
	font-size: 300%;
}
.homepage #showcase
{
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
}
.homepage #showcase .item img
{
	background: none;
	margin-right: 100px;
	margin-left: 100px;
	max-height: 400px;
	max-width: 400px;
}
.homepage hr
{
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	width: 85%;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
}
.product-list
{
	margin: 0;
	font-family: Futura, Arial;
	left: 0px;
	height: 100%;
	width: 100%;
}
.product
{
	position: relative;
	white-space: nowrap;
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
.product img
{
	margin-left: 10px;
	margin-right: 10px;
	height: 200px;
	width: 200px;
}
.product .btn
{
	position: absolute;
	top: 25%;
	right: 20px;
}
.product #title
{
	position: absolute;
	display: block;
	top: 0;
	left: 220px;
	font-size: 3.5em;
}
.product #price
{
	position: absolute;
	top: 0;
	right: 20px;
	font-size: 2em;
}
.product #description
{
	position: absolute;
	top: 50%;
	left: 220px;
	font-size: 1.2em;
	width: 80%;
	height: 80px;
	padding-top: 5px;
	padding-left: 5px;
	border: 1px;
	border-style: solid;
	border-color: #000000;
	border-radius: 0px
}
.product #color
{
	position: absolute;
	bottom: 5px;
	left: 5px;
}
.product #colblock
{
	display: inline-block;
	height: 25px;
	width: 50px;
}
.account
{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 100px;
	margin-right: 100px;
	justify-content: center;
	align-items: center;
}
.account hr
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
	width: 85%;
	border-top: 3px solid #000000;
	border-bottom: 3px solid #000000;
}
.account .btn
{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}
.account .acctext
{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 300%;
}
.account .text
{
	margin-top: 10px;
	margin-bottom: 10px;
}
.account .accform
{
	margin-top: 50px;
	margin-bottom: 50px;
}
